.post {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.post-body {
  position: absolute;
  top: 50px;
  margin: 0 auto;
  text-align: center;
  width: 800px;
  border-radius: 5px;
  background: #fff;
  /*height: 600px;*/
}
