.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal-body {
  position: absolute;
  top: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  width: 600px;
  border-radius: 5px;
  background: #fff;
  height: 300px;
}
