<nav class="breadcrumbs">
    <div class="breadcrumbs__container">
        <div class="breadcrumbs__left">New Arrivals</div>
        <div class="breadcrumbs__right">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Home</a>&#160;/&#160;</li>
                <li class="breadcrumbs__item"><a href="/catalog/man/" class="breadcrumbs__link">Men</a>&#160;/&#160;
                </li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link breadcrumbs__link_current">New
                        Arrivals</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <div class="shoping-cart shoping-cart_top">
        <div class="product-details product-details_top">Product Details</div>
        <div class="product-price product-price_top">unite Price</div>
        <div class="product-quantity product-quantity_top">Quantitys</div>
        <div class="product-shipping product-shipping_top">shipping</div>
        <div class="product-subtotal product-subtotal_top">Subtotal</div>
        <div class="product-action product-action_top">ACTION</div>
    </div>
    {# Контейнер для рендера корзины #}
    <div class="full-page-basket">

    </div>
    {# Конец контейнера корзины #}

    <form action="" class="confirm-form">
        <button class="confirm-button">cLEAR SHOPPING CART</button>
        <button class="confirm-button">cONTINUE sHOPPING</button>
    </form>
    <section class="shiping-details">
        <div class="shipping-address">
            <h2 class="shipping-address__headline">Shipping Adress</h2>
            <form action="#" class="shipping-address__form">
                <details class="shipping-address__city">
                    <summary class="shipping-address__title">Bangladesh</summary>
                </details>
                <input type="text" placeholder="State" class="shipping-address__text">
                <input type="text" placeholder="Postcode / Zip" class="shipping-address__text">
            </form>
        </div>
        <div class="coupon-discount">
            <h2 class="coupon-discount__headline">coupon discount</h2>
            <h3 class="coupon-discount__content">Enter your coupon code if you have one</h3>
            <form action="#">
                <input type="text" placeholder="Coupon number" class="shipping-address__text">
                <button class="coupon-discount__button">Apply coupon</button>
            </form>


        </div>
        <div class="shiping-details-checkout">
            <h3 class="shiping-details-checkout__content">Sub total&emsp;&emsp;$</h3>
            <h2 class="shiping-details-checkout__headline">GRAND TOTAL&emsp;&ensp;<span
                        class="shiping-details-checkout__headline_value">$</span></h2>
            <form action="#" class="shiping-details-checkout__form">
                <button class="shiping-details-checkout__button">proceed to checkout</button>
            </form>
        </div>
    </section>
    <form action="#" class="get-quote__form">
        <button class="get-quote__form__button">get a quote</button>
    </form>
</main>