@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    /*background: url(bg/daisy-stock-poster.jpg) no-repeat #94a233;
    background-size: cover;*/
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@supports (object-fit: cover) {
    #video-bg > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
    font-family: Lato;
}

:focus {
    outline: 0;
}

input {
    outline: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.flex-vert, .top-header-content, .breadcrumbs__container, .breadcrumbs__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container, .product-cards, .breadcrumbs__container {
    width: 1140px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

.slick-prev, .slick-next {
    color: grey;
    background: black;
}

.slick-prev:hover {
    color: grey;
    background: black;
}

.slick-next:hover {
    color: grey;
    background: black;
}

.main_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1140px;
    margin: 0 auto;
    flex-wrap: wrap;
    font-weight: 400;
    /*font-family: Lato;*/
}

.del_review_btn, .submit_review_btn, .form_btn {
    margin: 25px 25px 25px 0;
    padding: 5px;
    /*width: 140px;
    height: 25px;*/
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
}

.del_review_btn:hover, .submit_review_btn:hover, .form_btn:hover {
    color: white;
    background: #f16d7f;
}

.left {
    width: 45%;
}

.right {
    width: 45%;
}

.review_item {
    padding: 15px;
    border: 1px solid grey;
    margin: 15px 15px 20px;
    /*font-family: Lato;*/
}

.review__new {
    padding: 15px;
    margin: 15px;
}

.verified {
    background-color: #d4d7d2;
}

.form-control {
    width: 95%;
    font-size: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.review_text, .review_date, .review_author {
    font-family: Arial;
    font-size: 15px;
    padding: 5px;
}

.review_date, .review_author {
    float: right;
    font-weight: 500;
    color: darkolivegreen;
}

.review_date {
    color: #f16d7f;
}

.product-cards__caption {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.product-cards__caption_main {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: capitalize;
}

.product-cards__caption_sec-line {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    text-transform: none;
    letter-spacing: 0.35px;
}

.product-cards__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 39px;
    justify-content: space-between;
}

.product-cards__box {
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 261px;
    margin: 0 0 30px 0;
    padding-bottom: 25px;
}

.product-cards__box:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product-cards__box:hover img.product-cards__pic {
    filter: brightness(40%);
    transform: scale(1.06);
}

.product-cards__box:hover .product-cards__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-cards__btns {
    display: none;
    width: 148px;
    position: absolute;
    z-index: 10;
    top: 95px;
    left: 56px;
}

.product-cards__cart-btn {
    width: 148px;
    height: 42px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
}

.product-cards__cart-btn:hover {
    background: #f16d7f;
}

.product-cards__cart-icon {
    margin-right: 20px;
}

.product-cards__reset-btn, .product-cards__like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 42px;
    font-size: 20px;
    color: white;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background: transparent;
    margin-top: 5px;
    transition: all 1s ease-out;
}

.product-cards__reset-btn:hover, .product-cards__like-btn:hover {
    background: #f16d7f;
}

.cart-product__minus {
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
    cursor: pointer;
}

.cart-product__minus:hover {
    color: #f16d7f;
}

.cart-product__plus {
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
    cursor: pointer;
}

.cart-product__plus:hover {
    color: #f16d7f;
}

.cart-product__amount {
    color: #424044;
    font-size: 14px;
    font-weight: 500;
}

.product-cards__pic {
    transition: all 0.7s ease-out;
    width: 261px;
    height: 280px;
}

.product-cards__name {
    color: #6f6e6e;
    width: 231px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin: 14px;
}

.product-cards__footer {
    align-self: flex-end;
}

.product-cards__price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 14px;
}

.product-cards__stars {
    color: #e4af48;
    padding-left: 90px;
}

.shoping-cart-grid-text, .product-price, .product-shipping, .product-subtotal, .product-action {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.shoping-cart {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 164px;
    border-bottom: 1px solid #eaeaea;
}

.shoping-cart_top {
    height: 70px;
}

.shoping-cart-flex, .product-price, .product-quantity, .product-shipping, .product-subtotal, .product-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details {
    width: 488px;
    height: 115px;
    display: flex;
    align-items: center;
}

.product-details_top {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.product-details__content {
    padding-left: 25px;
}

.product-details__pic {
    width: 75px;
    height: 88px;
}

.product-details__brand {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.product-details__value {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #575757;
}

.product-details__value_thin {
    color: #6f6e6e;
    font-weight: 300;
}

.product-price {
    width: 165px;
    height: 115px;
}

.product-price_top {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.product-quantity {
    width: 127px;
    height: 115px;
}

.product-quantity_top {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.product-quantity__number {
    display: block;
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;
}

.product-shipping {
    width: 165px;
    height: 115px;
}

.product-shipping_top {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.product-subtotal {
    width: 127px;
    height: 115px;
}

.product-subtotal_top {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.product-action {
    width: 67px;
    height: 115px;
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-action_top {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.product-action__delete {
    color: #c0c0c0;
    transition: all 0.7s ease-out;
}

.product-action__delete:hover {
    color: #f16d7f;
}

.confirm-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}

.confirm-button {
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
}

.confirm-button:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.shiping-details {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.shipping-address, .coupon-discount {
    width: 355px;
    margin-right: 35px;
}

.shipping-address__city {
    margin-bottom: 22px;
}

.shipping-address__headline {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.shipping-address__title {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 16px 0 16px 18px;
}

.shipping-address__title::-webkit-details-marker {
    float: right;
    font-size: 13px;
}

.shipping-address__text {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 16px 0 16px 18px;
    margin-bottom: 22px;
}

.coupon-discount__headline {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.coupon-discount__content {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
}

.coupon-discount__button {
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
}

.coupon-discount__button:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.shiping-details-checkout {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    padding: 43px;
    text-align: right;
}

.shiping-details-checkout__headline {
    display: block;
    width: 275px;
    padding-bottom: 22px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 17px;
    border-bottom: 1px solid #e2e2e2;
}

.shiping-details-checkout__headline_value {
    color: #f16d7f;
}

.shiping-details-checkout__content {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.shiping-details-checkout__button {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
}

.shiping-details-checkout__button:hover {
    background-color: #ffffff;
    color: #f16d7f;
    outline: 1px solid #f16d7f;
}

.get-quote__form__button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 79px;
    transition: all 0.7s ease-out;
}

.get-quote__form__button:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

.central-poster {
    margin-top: -90px;
    position: relative;
    z-index: 0;
    min-height: 777px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.central-poster__pic {
    margin: 0px 0 42px 0;
    position: relative;
    z-index: 0;
    max-height: 724px;
    width: auto;
}

.central-poster__btnLeft {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    left: 0;
    top: 50%;
    background-color: #cbcbcb;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.central-poster__btnLeft:hover {
    cursor: pointer;
}

.central-poster__btnRight {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    right: 0;
    top: 50%;
    background-color: #cbcbcb;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.central-poster__btnRight:hover {
    cursor: pointer;
}

.women-collection {
    position: relative;
    z-index: 10;
    margin-top: -85px !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 730px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 119px !important;
}

.women-collection__content {
    flex-basis: 625px;
}

.women-collection__headline {
    text-align: center;
    margin-top: 73px;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.women-collection__line {
    text-align: center;
}

.women-collection__brand-name {
    margin: 25px 0 67px 0;
    text-align: center;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.women-collection__desc {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 48px;
}

.women-collection__tagline {
    width: 625px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.women-collection__material, .women-collection__designer {
    display: block;
    float: left;
    width: 311px;
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 22px;
    margin-bottom: 37px;
}

.women-collection__value {
    color: #2f2f2f;
}

.women-collection__designer {
    text-align: left;
    padding-left: 22px;
}

.women-collection__price {
    color: #f16d7f;
    display: block;
    padding-bottom: 43px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.options-selection {
    flex-basis: 625px;
    display: flex;
    justify-content: center;
}

.options-selection__type {
    display: block;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.options-selection__value, .options-selection__color {
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 17px;
}

.options-selection__color {
    text-transform: capitalize;
    text-align: right;
}

.addToCart {
    background-color: #ffffff;
    position: relative;
    flex-basis: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCart__btn {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    width: 550px;
    height: 55px;
    border: 1px solid #f16d7f;
    background: white;
    transition: all 0.7s ease-out;
}

.addToCart__btn:hover {
    filter: brightness(80%);
}

.addToCart__pink-icon {
    vertical-align: middle;
    margin-right: 25px;
}

.check-out {
    display: flex;
    flex-wrap: wrap;
    margin: 33px 0;
    border-bottom: 1px solid #eaeaea;
}

.check-out_opened {
    padding-bottom: 80px;
}

.check-out__type {
    width: 1100px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.check-out__content {
    width: 530px;
    margin-left: 35px;
}

.check-out__heading {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.check-out__text {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
}

.check-out__text_bt {
    margin-bottom: 33px;
}

.check-out__text_red {
    display: block;
    color: #ff0d0d;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: -10px 0 23px 0;
}

.check-out__form {
    margin: 34px 0;
}

.check-out__label {
    display: block;
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.check-out__email, .check-out__pw {
    width: 390px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 12px;
}

.check-out__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 1s ease-out;
}

.check-out__link:hover {
    background: #f16d7f;
    color: white;
}

.check-out__sign {
    display: block;
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.check-out__star {
    color: #ff0d0d;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.check-out__forget {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 30px;
}

.check-out__login {
    display: flex;
    align-items: center;
}

/*style for subscribe form START*/
.clear {
    height: 97px;
}

.subscribe {
    background: url(img/subscribe-bg.png) no-repeat;
}

.subscribe-bg {
    background: rgba(242, 242, 242, 0.5);
    position: relative;
    display: flex;
    align-items: center;
}

.subscribe-left {
    width: 800px;
    min-height: 438px;
    border-right: 1px solid white;
    padding: 123px 73px 0 341px;
}

.subscribe-left__quote {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.subscribe-left__author {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    letter-spacing: 0.4px;
}

.subscribe-left__place {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.3px;
}

.subscribe-left__pic {
    position: absolute;
    top: 111px;
    left: 230px;
}

.subscribe-right {
    width: 799px;
    min-height: 438px;
}

.subscribe-right__content {
    padding: 148px 0 0 92px;
    text-align: center;
    width: 500px;
}

.subscribe-right__headline {
    color: #222224;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.subscribe-right__headline-sl {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.subscribe-right input {
    outline: 0;
    box-shadow: none;
}

.subscribe-right__form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-right__email {
    width: 282px;
    height: 46px;
    border: 1px solid #eaeaea;
    border-right: 0;
    background-color: #ffffff;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 22px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}

.subscribe-right__submit {
    outline: 0;
    width: 104px;
    height: 44px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
}

/*style for subscribe form END*/
footer {
    min-height: 79px;
    margin-top: 97px;
    background-color: #e6e6e6;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 79px;
}

.footer-left {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
    width: 50%;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer-right__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    background-color: #ffffff;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
    transition: all 0.6s ease-out;
}

.footer-right__icon:hover {
    background: #f16d7f;
    color: white;
}

.top-header {
    border-bottom: 1px solid #ececec;
    /*background-color: #ffffff;*/
}

.top-header-content {
    min-height: 96px;
}

.top-header-left {
    flex-basis: 620px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;
}

.logo__pic {
    display: block;
    margin-right: 12px;
}

.logo__text {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo__text_pink {
    color: #f16d7f;
    font-weight: 600;
}

.logo:hover {
    transform: scale(1.02);
}

.search details[open] .drop-menu {
    display: flex;
}

.search {
    margin-left: 34px;
    outline: 0;
    display: flex;
    align-items: center;
}

.search__browse {
    position: relative;
    display: block;
}

.search__popup {
    position: relative;
    padding: 10px 8px 9px 13px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.search__popup::-webkit-details-marker {
    float: right;
    margin: 6px 0 0 12px;
    color: #838383;
    font-size: 10px;
}

.search__form {
    display: flex;
    min-height: 38px;
}

.search__button {
    width: 38px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__button img {
    width: 14px;
    height: 14px;
}

.search__text {
    padding-left: 10px;
    display: block;
    border-left: none;
    border-right: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff;
    width: 279px;
    height: 38px;
}

.top-header-right {
    display: flex;
    align-items: center;
    /*justify-content: left;*/
}

.cart {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 32px 0 32px 0;
}

.mini_basket:hover .drop-menu_cart {
    display: flex;
}

.cart__qnt {
    position: absolute;
    top: 25px;
    right: -11px;
    border-radius: 12px;
    height: 18px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.3px;
    background: #f16d7f;
}

.cart-drop {
    position: relative;
    display: block;
}

.cart-drop-name {
    position: relative;
    display: block;
    width: 42px;
    height: 38px;
    padding: 10px 12px 9px 12px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.cart-drop-name::-webkit-details-marker {
    display: none;
    margin: 6px 0 0 6px;
    color: #838383;
    font-size: 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    width: 235px;
    height: 105px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.cart-product__pic {
    width: 75px;
    height: 88px;
    display: block;
    margin-right: 13px;
    transition: all 0.5s ease-out;
}

.cart-product__pic:hover {
    filter: brightness(80%);
}

.cart-product__content {
    display: block;
    width: 130px;
}

.cart-product__headline {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.cart-product__stars {
    color: #e4af48;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.cart-product__price {
    color: #f16d7f;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-product__delete {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
    cursor: pointer;
}

.cart-product__delete:hover {
    color: #f16d7f;
}

.cart-product__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart-product__total-price {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-product__button {
    width: 235px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    transition: all 0.8s ease-out;
}

.cart-product__button_pink {
    border: 1px solid #f16d7f;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-product__button_pink:hover {
    background: #f16d7f;
    color: white;
}

.cart-product__button_black {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-product__button_black:hover {
    background: darkgray;
    color: white;
}

.my-account {
    margin-left: 26px;
    background-color: #f16d7f;
    padding: 1px 5px 5px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    display: block;
}

.my-account__text::-webkit-details-marker {
    float: right;
    font-size: 10px;
    padding-left: 9px;
    margin-top: 13px;
}

.bascket_container {
    max-height: 355px;
    margin-bottom: 20px;
    overflow: auto;
}

.drop-menu {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    position: absolute;
    z-index: 99;
    padding: 20px;
    display: none;
    top: 50px;
}

.drop-menu_search {
    top: 39px;
}

.drop-menu_cart {
    position: absolute;
    top: 76px;
    /*right: 290px;*/
    display: none;
}

.drop-menu__arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    top: -6px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.drop-menu__arrow_cart {
    left: 13px;
}

.drop-menu__arrow_man {
    left: 32px;
}

.drop-menu__arrow_women {
    left: 45px;
}

.drop-menu__arrow_search {
    left: 61px;
}

.drop-menu__flex {
    width: 257px;
    margin-right: 45px;
}

.drop-menu__flex:last-child {
    margin-right: 0;
}

.drop-menu__headline {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.drop-menu__list {
    margin-left: 8px;
}

.drop-menu__item_last {
    margin-bottom: 15px;
}

.drop-menu__link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    text-decoration: none;
}

.drop-menu__link:hover {
    color: #f16d7f;
}

.drop-menu__pic {
    margin-top: 15px;
    max-width: 237px;
}

.top-menu {
    position: relative;
    z-index: 98;
    /*background-color: #ffffff;*/
}

.top-menu__item {
    position: relative;
}

.top-menu__list {
    position: relative;
    display: flex;
    justify-content: center;
}

.top-menu__list > li:hover .drop-menu {
    display: flex;
}

.top-menu__link {
    position: relative;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 25px 17px 19px;
    display: block;
}

.top-menu__link:hover {
    color: #f16d7f;
}

.top-menu__link_current-page {
    border-bottom: 3px solid #f16d7f;
}

.top-menu__link_current-page:hover {
    color: #000;
}

.breadcrumbs {
    background: #f8f3f4;
    height: 148px;
    margin-bottom: 90px;
}

.breadcrumbs__container {
    height: 148px;
}

.breadcrumbs__left {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.breadcrumbs__link {
    color: #636363;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}

.breadcrumbs__link_current {
    color: #f16d7f;
    font-weight: 700;
}

.breadcrumbs__link:hover {
    font-weight: 700;
}

.bottom-advertise {
    width: 1140px;
    height: 529px;
    background-color: #222224;
    margin-bottom: 97px;
}

.bottom-advertise-left {
    background: url("img/bottom-advert-img.png") no-repeat;
    width: 767px;
    height: 529px;
}

.bottom-advertise-left-bg {
    background: url("img/bottom-advert-img-bg.png") no-repeat;
    width: 767px;
    height: 529px;
    padding: 146px 0 0 39px;
}

.bottom-advertise-left-bg h2 {
    color: #ffffff;
    font-size: 53.62px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1.5px;
}

.bottom-advertise-left-bg span {
    color: #f16d7f;
}

.bottom-advertise-left-bg h3 {
    color: #ffffff;
    font-size: 32.17px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.9px;
}

.bottom-advertise-right-top, .bottom-advertise-right-mid, .bottom-advertise-right-bot {
    width: 373px;
    padding: 55px 23px 0 114px;
    position: relative;
}

.bottom-advertise-right-top {
    height: 170px;
}

.bottom-advertise-right-mid {
    height: 170px;
    padding: 45px 23px 0 114px;
}

.bottom-advertise-right-bot {
    height: 188px;
    padding: 45px 23px 0 114px;
}

.bottom-advertise-right-top img {
    position: absolute;
    top: 48px;
    left: 36px;
}

.bottom-advertise-right-mid img, .bottom-advertise-right-bot img {
    position: absolute;
    top: 38px;
    left: 36px;
}

.bottom-advertise-right h2 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: block;
    padding-bottom: 15px;
}

.bottom-advertise-right h3 {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

/*bottom advertisement END*/
.flex-vert, .top-header-content, .breadcrumbs__container, .breadcrumbs__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-catalog {
    background: #f8f3f4;
    height: 148px;
    margin-bottom: 59px;
}

.header-catalog-bg {
    height: 148px;
}

.header-catalog-left span {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.header-catalog-right li a {
    color: #636363;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}

.header-catalog-right .new-arrival {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.catalog-man {
    display: flex;
    flex-wrap: wrap;
}

.catalog-man-left {
    width: 245px;
    text-align: left;
    margin-right: 50px;
}

.catalog-man-left a {
    padding-left: 12px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
}

.catalog-man-left a:hover {
    color: #ef5b70;
}

.category {
    margin-bottom: 18px;
}

.category summary {
    border-left: 4px solid #ef5b70;
    padding: 10px 0 10px 5px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
}

.category summary::-webkit-details-marker {
    display: none;
}

.category span {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #f16d7f transparent transparent transparent;
    color: #f16d7f;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    float: right;
}

.catalog-man-left details[open] span {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #f16d7f transparent;
    color: #f16d7f;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    float: right;
}

.catalog-man-left details[open] summary {
    color: #ef5b70;
}

.catalog-man-right {
    width: 845px;
}

.catalog-grid {
/ / margin-right: - 30 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selection {
    height: 75px;
    margin-bottom: 41px;
}

.price, .trending, .size {
    width: 263px;
    height: 75px;
    outline: 0;
}

.selection h2 {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.trending a {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.trending a:hover {
    color: #ef5b70;
}

.trending p {
    color: #dfdfdf;
}

.size {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.size label {
    padding-left: 3px;
    display: inline-block;
    width: 63px;
}

.size span {
    padding-left: 10px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.price-numbers {
    display: flex;
    justify-content: space-between;
}

.price-numbers h3 {
    margin-top: 7px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.sort {
    background-color: #f3f3f3;
    padding: 10px 0 10px 10px;
    display: flex;
    margin-bottom: 48px;
}

.sort span {
    display: inline-block;
    width: 67px;
    height: 30px;
    padding-top: 2px;
    padding-left: 9px;
    border: 1px solid #ebebeb;
    background: #ffffff;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

select {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    background: #ffffff;
    border: 1px solid #ebebeb;
    line-height: 26px;
    margin-right: 30px;
}

.expand {
    border: none;
    width: 67px;
    height: 30px;
}

.bottom-adv-man {
    background-color: #222224;
    /*width: 1600px;*/
    height: 341px;
}

.bottom-advertise-man {
    display: flex;
    justify-content: space-between;
    height: 341px;
    width: 1088px;
    margin-left: 256px;
    padding-top: 153px;
}

.bottom-advertise-men-left, .bottom-advertise-men-mid, .bottom-advertise-men-right {
    width: 309px;
    position: relative;
}

.bottom-advertise-men-left img, .bottom-advertise-men-mid img, .bottom-advertise-men-right img {
    position: absolute;
    top: -71px;
    left: 134px;
}

.bottom-advertise-man h2 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    transform: scaleX(1.0017);
}

.bottom-advertise-man h3 {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    transform: scaleX(1.0018);
}

/*Smiling MAN start*/
.cool-man {
    position: relative;
    background-color: #e8e8e8;
    min-height: 665px;
    overflow: hidden;
}

.cool-man__bg {
    position: absolute;
    top: 0px;
    right: -91px;
}

.cool-man__video {
    position: absolute;
    display: block;
    z-index: 1;
    top: 373px;
    left: 143px;
    width: 513px;
    height: auto;
}

.cool-man__canvas {
    transition: all 1s ease-out;
    position: absolute;
    top: 57px;
    left: 174px;
    z-index: 1;
}

.cool-man-header {
    padding: 0;
    border-left: 12px solid #f16d7f;
    padding-left: 15px;
    position: absolute;
    top: 259px;
    right: 142px;
}

.cool-man-header__first {
    color: #222222;
    font-size: 60px;
    letter-spacing: 1.5px;
    font-weight: 900;
}

.cool-man-header__second {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 0.95em;
}

.cool-man-header__second_pink {
    color: #f16d7f;
    font-size: 40px;
}

/*Smiling MAN end*/
.container, .product-cards, .breadcrumbs__container {
    width: 1140px;
    margin: 0 auto;
}

.flexible {
    /*set flex for following blocks*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.center, .bottom-menu, .bottom-menu-1-header {
    display: flex;
    align-items: center;
}

.center {
    margin-top: 96px;
    margin-bottom: 105px;
}

.center-left-top {
    width: 560px;
    height: 542px;
    background: url(img/center-1.png);
    margin-bottom: 20px;
    padding-top: 26px;
}

.center-left-bottom {
    background: #dadad2;
    width: 560px;
    height: 261px;
    padding-top: 26px;
    display: flex;
    position: relative;
}

.center-right-top {
    width: 560px;
    height: 261px;
    background: url(img/center-3.png);
    margin-bottom: 20px;
    padding-top: 26px;
}

.video {
    width: 100%;
    height: 100%;
}

.center-right-bottom {
    width: 560px;
    height: 542px;
    background: url(img/center-4.png);
    padding-top: 26px;
}

.center-left {
    margin-right: 21px;
}

.pocket {
    background: url(img/center-2.png);
    width: 411px;
    height: 240px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.center-header-man, .center-header-ACCESORIES, .center-header-women, .center-header-kids {
    background-color: #ffffff;
    width: 175px;
    height: 82px;
    padding: 16px 0 16px 19px;
}

.center-header-ACCESORIES {
    width: 228px;
    position: relative;
    z-index: 1;
}

.center-header-women {
    width: 165px;
}

.center-header-kids {
    width: 180px;
}

.center h2 {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}

.center h3 {
    font-family: Lato;
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}

.browse-all-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 112px;
    margin-top: 22px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 2px 25px;
    width: 222px;
    height: 48px;
    background-color: #f16d7f;
    letter-spacing: 0.4px;
    transition: all 0.8s ease-out;
}

.browse-all-product:after {
    content: "→";
}

.browse-all-product:hover {
    background: whitesmoke;
    color: #f16d7f;
    outline: 1px solid #f16d7f;
}

.bottom-menu {
    margin-top: 129px;
    align-items: flex-start;
}

.bottom-menu-col a:hover {
    color: #f16d7f;
}

.bottom-menu-1 {
    width: 427px;
    min-height: 240px;
    margin-right: 63px;
    position: relative;
}

.bottom-menu-1 article {
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.bottom-menu-1-header {
    margin-top: -20px;
    margin-bottom: 19px;
}

.bottom-menu-1-header a {
    font-family: Lato;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
}

.bottom-menu-1-header span {
    font-family: Lato;
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
}

.bottom-menu-2 {
    width: 105px;
    min-height: 240px;
    margin-right: 137px;
}

.bottom-menu-3 {
    width: 155px;
    min-height: 240px;
    margin-right: 92px;
}

.bottom-menu-4 {
    width: 155px;
    min-height: 240px;
}

.bottom-menu-col h2 {
    font-family: Lato;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.bottom-menu-col a {
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    letter-spacing: 0.4px;
    line-height: 46px;
}

.bottom-menu-2 footer {
    height: 79px;
    margin-top: 97px;
    background-color: #e6e6e6;
}
