.main {
  display: flex;
  justify-content: space-between;
  margin-top: 3.94rem;

}
.main-content {
  width: 53.75rem;
  min-height: 60rem;
  //border: 1px solid #ccc;
  &__heading {
    color: #444645;
    font-family: Oswald;
    font-size: 2.625rem;
    font-weight: 400;
    line-height: 2.325rem;
    padding-left: 1rem;
    border-left: 0.25rem solid #7bae23;
    //margin-bottom: 1rem;
  }
  &__text {
    color: #999999;
    font-family: "PT Sans";
    font-size: 1.063rem;
    font-weight: 400;
    margin-top: 0.6rem;
    //line-height: 1.063rem;
  }
  &__bar {
    margin-top: 1.7rem;
    &-link {
      //display: block;
      padding: 7px 24px 7px 32px;
      background: #575a59;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.063rem;
      text-transform: uppercase;
      transition: all ease-in-out .4s;
      &:hover {
        background: #fff;
        color: #575a59;
        outline: 1px solid #575a59;
      }
      &_green {
        background-color: #84bb26;
        padding: 7px 39px 7px 45px;
        color: #ffffff;
        font-family: "PT Sans";
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.063rem;
        text-transform: uppercase;
        transition: all ease-in-out .4s;
        &:hover {
          background: #fff;
          color: #84bb26;
          outline: 1px solid #84bb26;
        }
      }
    }
  }
  &__block {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      width: 21.563rem;
      min-height: 13.688rem;
      color: #7c807e;
      //font-family: "Arial MT";
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.56rem;
    }
    &-link {
      color: #7bae23;
      line-height: 1.25rem;
    }
  }

}

.sidebar {
  width: 16rem;
  height: 60rem;
  border: 1px solid #ccc;
}

.products, .products_second {
  /*column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 228px);
  grid-template-rows: 1fr;
  padding: 40px 6px;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.product-item:hover img.product-item__img {
  filter: brightness(40%);
  transform: scale(1.1);
}
.product-item {
  display: block;
  cursor: pointer;
  //flex-direction: column;
  align-content: center;
  align-items: center;
  width: 14.25rem;
  //min-height: 25rem;
  //border-radius: 5px;
  overflow: hidden;
  margin-top: 2rem;
  transition: all ease-in-out .4s;
  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  }
  &__img {
    transition: all ease-in-out 0.6s;
  }
  &__desc {
    //border: 1px solid #c0c0c040;
    margin-top: 1rem;
    padding: 15px;
  }
  &__name {
    color: #646464;
    font-family: "PT Sans";
    font-size: 1.188rem;
    font-weight: 400;
    line-height: 1.263rem;
    text-align: center;
    height: 2.5rem;
  }
  &__price {
    display: none;
  }
  &__btns {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-icon {
      color: #7bae23;
      font-size: 2rem;
      transition: all ease-in-out 0.6s;
      &:hover {
        filter: brightness(40%);
      }
    }
  }
}

.buy-btn {

  border: 0.063rem solid #5c5f5e;
  background-color: #575a59;
  color: #e8e8e8;
  //font-family: "Arial - Bold MT";
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 0.979rem;
  text-transform: uppercase;
  transition: all ease-in-out .4s;
  cursor: pointer;
  padding: 7px 12px 7px 12px;
  width: 7.45rem;
}

.buy-btn:hover {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
  box-shadow: inset 0 0.063rem 0.063rem rgba(255, 255, 255, 0.75);
}