<nav class="breadcrumbs">
    <div class="breadcrumbs__container">
        <div class="breadcrumbs__left">New Arrivals</div>
        <div class="breadcrumbs__right">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Home</a>&#160;/&#160;</li>
                <li class="breadcrumbs__item"><a href="/catalog/man/" class="breadcrumbs__link">Men</a>&#160;/&#160;
                </li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link breadcrumbs__link_current">New
                        Arrivals</a></li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="catalog-man container">
        <div class="catalog-man-left">
            <ul>
                <li>
                    <details open class="category">
                        <summary>CATEGORY <span></span></summary>
                        <ul>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Denim</a></li>
                            <li><a href="#">Hoodies & Sweatshirts </a></li>
                            <li><a href="#">Jackets& Coats</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Polos</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Sweaters & Knits</a></li>
                            <li><a href="#">T-Shirts</a></li>
                            <li><a href="#">Tanks</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details class="category">
                        <summary>BRAND <span></span></summary>
                    </details>
                </li>
                <li>
                    <details class="category">
                        <summary>DESIGNER <span></span></summary>
                    </details>
                </li>
            </ul>
        </div>
        <div class="catalog-man-right">
            <div class="selection flex-vert">
                <div class="trending">
                    <h2>Trending now</h2>
                    <p><a href="#">Bohemian</a>&emsp;|&emsp; <a href="#">Floral</a>&emsp;|&emsp; <a href="#">Lace</a>
                    </p>
                    <p><a href="#">Floral</a>&emsp;|&emsp; <a href="#">Lace</a>&emsp;|&emsp; <a href="#">Bohemian</a>
                    </p>
                </div>
                <div class="size">
                    <h2>Size</h2>
                    <div>
                        <label>
                            <input type="checkbox" value="XXL" name="XXL"><span>XXL</span></label>
                        <label>
                            <input type="checkbox" value="XXL" name="XXL"><span>XS</span></label>
                        <label>
                            <input type="checkbox" value="XXL" name="XXL"><span>S</span></label>
                        <label>
                            <input type="checkbox" value="XXL" name="XXL"><span>M</span></label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" value="XXL" name="XXL"><span>L</span></label>
                        <label>
                            <input type="checkbox" value="XXL" name="XXL"><span>XL</span></label>
                        <label>
                            <input type="checkbox" value="XXL" name="XXL"><span>XXL</span></label>
                    </div>
                </div>
                <div class="price">
                    <h2>PRICE</h2>
                    <div id="slider-range"></div>
                    <div class="price-numbers">
                        <h3>
                            <label for="amount">Price range:</label>
                            <input type="text" id="amount" readonly
                                   style="border:0; color:#f16d7f; font-weight:bold; font-size: 14px; line-height: 26px; margin-top: 7px;">
                        </h3>
                    </div>
                </div>
            </div>
            <div class="sort">
                <!--Option Selections "Sort by a..." and "Show number of pictures on a page"-->
                <span> Sort By:</span>
                <label>
                    <select class="expand">
                        <option value="Name">Name</option>
                        <option value="Man">Man</option>
                        <option value="Women">Women</option>
                    </select>
                </label> <span> Show</span>
                <label>
                    <select class="expand">
                        <option value="Name">09</option>
                        <option value="Man">18</option>
                        <option value="Women">27</option>
                    </select>
                </label>
            </div>

            <!--СОЗДАЕМ КОНТЕЙНЕР ДЛЯ КАРТОЧЕК ТОВАРА-->
            <div class="catalog-grid">

                <!--СЮДА ГЕНЕРИРУЕМ КАРТОЧКИ ТОВАРА-->

            </div>
            <p class="next"> Show more >>> </p>
        </div>
        <!--End of "catalog-man-right"-->
    </div>
    <!--End of "catalog-man"-->
    <div class="bottom-adv-man">
        <!--bottom advert-->
        <div class="bottom-advertise-man">
            <div class="bottom-advertise-men-left"><img src="/assets/img/bottom-adv-car.png" alt="car">
                <h2>Free Delivery</h2>
                <h3>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                    models.</h3></div>
            <div class="bottom-advertise-men-mid"><img src="/assets/img/bottom-adv-percents.png" alt="percents">
                <h2>Sales & discounts</h2>
                <h3>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                    models.</h3></div>
            <div class="bottom-advertise-men-right"><img src="/assets/img/bottom-adv-crown.png" alt="crown">
                <h2>Quality assurance</h2>
                <h3>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                    models.</h3></div>
        </div>
    </div>
</main>