<nav class="breadcrumbs">
    <div class="breadcrumbs__container">
        <div class="breadcrumbs__left">New Arrivals</div>
        <div class="breadcrumbs__right">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Home</a>&#160;/&#160;</li>
                <li class="breadcrumbs__item"><a href="/catalog/man/" class="breadcrumbs__link">Men</a>&#160;/&#160;
                </li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link breadcrumbs__link_current">New
                        Arrivals</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <section class="check-out check-out_opened">
        <h2 class="check-out__type">01.&nbsp;&nbsp;&nbsp;Shipping Adress</h2>
        <div class="check-out__content">
            <h2 class="check-out__heading">Check as a guest or register</h2>
            <h3 class="check-out__text">Register with us for future convenience</h3>
            <form action="#" class="check-out__form">
                <label class="check-out__label"><input type="radio" name="radio" class="check-out__checkbox">&nbsp;&nbsp;&nbsp;checkout
                    as guest</label><br>
                <label class="check-out__label"><input type="radio" name="radio" class="check-out__checkbox" checked>&nbsp;&nbsp;&nbsp;register</label>
            </form>
            <h2 class="check-out__heading">register and save time!</h2>
            <h3 class="check-out__text check-out__text_bt">Register with us for future convenience</h3>
            <h3 class="check-out__text"><i class="fas fa-angle-double-right"></i>&nbsp;Fast and easy checkout</h3>
            <h3 class="check-out__text check-out__text_bt"><i class="fas fa-angle-double-right"></i>&nbsp;Easy access to
                your
                order history and status</h3>
            <a href="#" class="check-out__link">Continue</a>
        </div>
        <div class="check-out__content">
            <h2 class="check-out__heading">Already registed?</h2>
            <h3 class="check-out__text">Please log in below</h3>
            <form action="#" class="check-out__form">
                <label class="check-out__sign">EMAIL ADDRESS &nbsp;<span class="check-out__star">*</span> <br><br><input
                            type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required
                            class="check-out__email"></label><br>
                <label class="check-out__sign">PASSWORD &nbsp;<span class="check-out__star">*</span> <br><br><input
                            type="password" name="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            class="check-out__pw"></label>
            </form>
            <h3 class="check-out__text check-out__text_red">* Required Fileds</h3>
            <div class="check-out__login"><a href="#" class="check-out__link">Log in</a><a href="#"
                                                                                           class="check-out__forget">Forgot
                    Password ?</a></div>
        </div>
    </section>
    <section class="check-out">
        <h2 class="check-out__type">02.&nbsp;&nbsp;&nbsp;BILLING INFORMATION</h2>
    </section>
    <section class="check-out">
        <h2 class="check-out__type">03.&nbsp;&nbsp;&nbsp;SHIPPING INFORMATION</h2>
    </section>
    <section class="check-out">
        <h2 class="check-out__type">04.&nbsp;&nbsp;&nbsp;SHIPPING METHOD</h2>
    </section>
    <section class="check-out">
        <h2 class="check-out__type">05.&nbsp;&nbsp;&nbsp;PAYMENT METHOD</h2>
    </section>
    <section class="check-out">
        <h2 class="check-out__type">06.&nbsp;&nbsp;&nbsp;ORDER REVIEW</h2>
    </section>
</main>