<div class="registration">
    <h2 class="registration__head">Register</h2>
    <p class='registration__input'>
        Already joined?
        <a class="registration__input" href="/">Sign in</a>.
    </p>
    <form action="/user/register/" method="post" class="" id="form-reg" name="form-reg">
        {#<div class="registration__user"><i class="fas fa-user-plus"></i></div>#}
        <input type="text" name="user_name" class="registration__input" id="regFullName" placeholder="Name" required>
        <input type="text" name="user_login" class="registration__input" id="regLogin" placeholder="Login" required>
        <input type="email" name="user_email" class="registration__input" id="regEmail" placeholder="Email" required>
        <input type="password" name="user_password" class="registration__input" id="regPassword" placeholder="Password"
               required><br>
        <input type="submit" class="registration__btn" value="Sign Up"/>
    </form>

</div>