<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>THE BRAND OF LUXERIOUS FASHION</title>
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/js/slick/slick.css"/>
    <link rel="stylesheet" href="/assets/js/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/assets/js/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/js/jquery-ui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/assets/js/jquery-ui/jquery-ui.theme.min.css">


    <script src="/assets/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery-ui/jquery.nicescroll.js"></script>
    <script src="/assets/js/slick/slick.min.js"></script>

    <script defer src="/assets/js/font-awesome/fontawesome-all.min.js"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
            rel="stylesheet">
    <script>
      if (!('open' in document.createElement('details'))) {
        alert("Браузер не поддерживает HTML5 details");
      }
    </script>
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

{% include 'widgets/navbar_user.twig' %}

{{ content | raw }}

{% include 'widgets/bottom.twig' %}

</body>
</html>