<div class="subscribe">
    <div class="subscribe-bg">
        <div class="subscribe-left"><img src="/assets/img/face.png" alt="face" class="subscribe-left__pic">
            <h2 class="subscribe-left__quote">"Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar
                purus condimentum a. Aliquam
                condimentum mattis neque sed pretium"</h2>
            <h3 class="subscribe-left__author">Bin Burhan</h3>
            <h4 class="subscribe-left__place">Dhaka, Bd</h4>
        </div>
        <div class="subscribe-right">
            <div class="subscribe-right__content">
                <h2 class="subscribe-right__headline">Subscribe</h2>
                <h3 class="subscribe-right__headline-sl">FOR OUR NEWLETTER AND PROMOTION</h3>
                <form action="#" class="subscribe-right__form">
                    <input name="email" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                           placeholder="Enter Your Email" required class="subscribe-right__email">
                    <input name="submit" type="submit" value="Subscribe" class="subscribe-right__submit">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="bottom-menu container">
    <div class="bottom-menu-1">
        <a href="index.php" class="logo">
            <img src="/assets/img/logo.png" alt="logo" class="logo__pic">
            <span class="logo__text">BRAN<span class="logo__text logo__text_pink">D</span></span>
        </a>
        <article>
            <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally
                syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded
                array of processes and cross-unit partnerships.</p>
            <br>
            <p>Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior
                initiatives for wireless technologies. Dynamically optimize. </p>
        </article>
    </div>
    <div class="bottom-menu-2">
        <article class="bottom-menu-col">
            <h2>COMPANY</h2>
            <p><a href="index.php">Home</a></p>
            <p><a href="#">Shop</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">How It Works</a></p>
            <p><a href="#">Contact</a></p>
        </article>
    </div>
    <div class="bottom-menu-3">
        <article class="bottom-menu-col">
            <h2>INFORMATION</h2>
            <p><a href="#">Tearms & Condition</a></p>
            <p><a href="#">Privacy Policy</a></p>
            <p><a href="#">How to Buy</a></p>
            <p><a href="#">How to Sell</a></p>
            <p><a href="#">Promotion</a></p>
        </article>
    </div>
    <div class="bottom-menu-4">
        <article class="bottom-menu-col">
            <h2>SHOP CATEGORY</h2>
            <p><a href="man.html">Men</a></p>
            <p><a href="#">Women</a></p>
            <p><a href="#">Child</a></p>
            <p><a href="#">Apparel</a></p>
            <p><a href="#">Brows All</a></p>
        </article>
    </div>
</div>
<footer>
    <div class="footer-content container">
        <div class="footer-left">© 2017 Brand All Rights Reserved</div>
        <div class="footer-right">
            <a href="#" class="footer-right__icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="footer-right__icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="footer-right__icon"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="footer-right__icon"><i class="fab fa-pinterest-p"></i></a>
            <a href="#" class="footer-right__icon"><i class="fab fa-google-plus-g"></i></a>
        </div>
    </div>
</footer>

<script src="/assets/js/goods_basket/index_init.js"></script>
<script src="/assets/js/goods_basket/goods_render.js"></script>
<script src="/assets/js/goods_basket/basket.js"></script>