<nav class="breadcrumbs">
    <div class="breadcrumbs__container">
        <div class="breadcrumbs__left">New Arrivals</div>
        <div class="breadcrumbs__right">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Home</a>&#160;/&#160;</li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Men</a>&#160;/&#160;
                </li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link breadcrumbs__link_current">New
                        Arrivals</a></li>
            </ul>
        </div>
    </div>
</nav>