<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" method="post" class="search-form">
                <input type="text" class="search-field" v-model.lazy="searchLine">
                <button class="btn-search" type="submit" @click="FilterGoods(searchLine)">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
            <div v-show="isVisibleCart" class="cart-block ">
                <div v-show="isCartFull" class="cart-item" v-for="product of cartItems" :key="product.id_product"
                     :data-id="product.id_product">
                    <div class="product-bio">
                        <img :src="imgCart" :alt="product.product_name">
                        <div class="product-desc">
                            <p class="product-title">{{ product.product_name }}</p>
                            <span class="product-quantity">{{ product.quantity }}</span>
                            <span class="product-single-price">{{ product.price }} each</span>
                        </div>
                    </div>
                    <div class="right-block">
                        <p class="product-price">{{ product.quantity * product.price }} </p>
                        <button class="del-btn" :data-id="product.id_product" @click="removeProduct(product)">&times;
                        </button>
                    </div>
                </div>
                <div v-show="!isCartFull" class="goods-list">Ваша корзина пуста</div>
                <div v-show="isCartFull" class="cart-sum">
                    В корзине {{ cartProductsCount}} {{ correctWord(cartProductsCount, [ 'товар', 'товара', 'товаров' ]) }} на сумму {{
                    cartProductsSum }} {{ correctWord(cartProductsSum, [ 'рубль', 'рубля', 'рублей' ]) }}
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of products" :key="product.id_product"
                 :data-id="product.id_product">
                <img :src="imgCatalog" :alt="product.product_name">
                <div class="desc">
                    <h3>{{ product.product_name }}</h3>
                    <p>{{ product.price }}</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="js/font-awesome/fontawesome-all.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>